<div class="row root-container">
    <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 d-flex flex-column justify-content-center text-center">
                <div class="m-auto"><img src="./Assets/images/profile.png" alt="Profile" class="rounded-circle" height="300px"/></div>
               
            </div>
            <div class="col  slide-down">
                <h1 class="title  text-center fst-italic">About me</h1>
                <h3 class="fst-italic">
                    I have a Bachelor's degree in Computer Science and Engineering.<br><br>
                    I have been working as a software developer since the past 3.5 years with skills in javascript
                    frameworks like React js , Node and Express js.<br><br>
                    I strive to provide efficient solutions to the clients while collaborating with the team using 
                    the agile principles.<br><br>
                    Motivation ,teamwork , optimism and zeal to learn are the key principles that push me to face the challenges
                    of the advancements in technology.
                    Here is a link to my resume...<a href="../../Assets/docs/Manvir Kaur resume.pdf" view target="_blank">Resume</a>
                </h3>
            </div>
        </div>
    </div>
</div>