<div class="row root-container">
    <div class="col-md-8 slide-down">
        <h1 class="fst-italic">Hey! <span class="title fst-italic">I am Manvir Kaur.</span></h1>
        <br>
        <h3 class="title fst-italic">Welcome to my profolio site. Nice to see you here !</h3>
        <h3>
            I aspire to use my skills as a IT professional to explore and dig into the world of software development and
            artificial intelligence. Able to work under pressure, effective at multitasking, and able to accomplish 
            overall organization objectives.Maintain a positive attitude and take every experience as an opportunity
            for improvement and growth.
        </h3>
        <br>
        <h3 class="title fst-italic">Want to know more about me?<a href="/about" class="title"> Here I am..</a></h3>
    </div>
</div>
