<div class="row gap-1 justify-content-evenly mt-3 slide-down">
    <h1 class="title  text-center fst-italic">From web applications to mobile platforms.</h1>
    <h1 class="  text-center fst-italic">Many more to go..</h1>
    <div class="card col-md-3">
        <img src="./Assets/images/real-estate.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="title">Real Estate</h1>
            <p class="card-text">This is a very large web application to manage real estate dealing.We had a team of remote workers coordinating together.The components were made using storybook and I was involved in integrating those components in the React application</p>
        </div>
    </div>

    <div class="card col-md-3">
        <img src="./Assets/images/hospital.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="title">Hospital Management</h1>
            <p class="card-text">This is ReactJS based real time Health Domain Application.
             All the hospitals of one of the cities of Europe are interlinked with this application.
             It has diﬀerent modules like General Module, Meeting Module, Role Management.I was involved in reactjs and redux frontend part
             as well as building apis in expressjs</p>
        </div>
    </div>

    <div class="card col-md-3">
        <img src="./Assets/images/pos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="title">Point of Sale</h1>
            <p class="card-text">This was a POS application for food orders at a particular place build in react native.
            The user could order various cuisines and get the generated bill.I was involved in developing 
            a few UI components ,authenticating through firebase and storage using Firestore.Coordinated with the backend team to integrate APIs</p>
        </div>
    </div>

</div>