<div class="row gap-1 justify-content-evenly mt-3 services slide-down">
    <h1 class="title  text-center fst-italic">Services I offer</h1>
    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
        <div><img src="./Assets/images/coding.png" class="service-img" alt="..."></div>
        <h1 class="title">Web development</h1>
    </div>

    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
        <div><img src="./Assets/images/app-development.png" class="service-img" alt="..."></div>
        <h1 class="title">Mobile development</h1>
    </div>
</div>